<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
		<meta http-equiv="Content-Security-Policy" content="img-src * data:; default-src *; script-src 'self' 'unsafe-inline' 'unsafe-eval' *; style-src  'self' 'unsafe-inline' *">

		<link href="styles/main.css" rel="stylesheet">
		<link href="../node_modules/angular/angular-csp.css" rel="stylesheet">
	</head>
	<body ng-app="riot">

		<noscript>
			<style type="text/css">
				#appContent {display:none;}
			</style>
			<div class="noscriptmsg">
				<img src="sources/image/noJS.jpg" alt="ACTIVATE!">
			</div>
		</noscript>
		
		<div id="appContent" ng-controller="MainController" ng-cloak>
			<div id="header">
				<div class="headerIcon">
					<button type="button" ng-click="openWelcomeView()"> pageIcon </button>
				</div>
				<div class="headerButtons">
					<button type="button" ng-click="openGradeView()">{{btnGrade}}</button>
					<button type="button" ng-click="openLootView()">{{btnLoot}}</button>
					<button type="button" ng-click="openScoreView()">{{btnScore}}</button>
				</div>
			</div>
			<ui-view [onload="home"] ng-cloak></ui-view>

			<div id="footer" ng-cloak>
				<button type="button" ng-click="openDocuView()"> {{btnDocu}} </button>
			</div>
		</div>

		<!-- node_modules -->	
		<script type="text/javascript" src="../node_modules/jquery/dist/jquery.js"></script>
		<script type="text/javascript" src="../node_modules/angular/angular.js"></script>
		<script type="text/javascript" src="../node_modules/angular-ui-router/angular-ui-router.js"></script>

		<!-- app scripts -->
		<script type="text/javascript" src="scripts/app.js"></script>
		<script type="text/javascript" src="scripts/constants.js"></script>
		<script type="text/javascript" src="scripts/configuration/modules.js"></script>
		<script type="text/javascript" src="scripts/configuration/routing.js"></script>
		<script type="text/javascript" src="scripts/controller/mainController.js"></script>
		<script type="text/javascript" src="scripts/controller/lootController.js"></script>
		<script type="text/javascript" src="scripts/controller/gradeController.js"></script>
		<script type="text/javascript" src="scripts/controller/scoreController.js"></script>
		<script type="text/javascript" src="scripts/services/requestService.js"></script>
		<script type="text/javascript" src="scripts/services/sharedProperties.js"></script>
	</body>
</html>