$defaultFont: 'Roboto Condensed', sans-serif;
$textColor: #fff;
$buttonShadow: #f0f0f0;
$lightBlack: #0C090A;
$evenLighterBlack: #262626;
$transparentLightBlack: rgba(12, 9, 10, 0.8);
$transparentShadow: rgba(133, 121, 121, 0.4);
$backgroundImage: url('../../sources/image/background.jpg');
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700);

html {
	background-image: $backgroundImage;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-color: transparent;
	margin: 0 !important;
	padding: 0 !important;
}
body {
	margin: 0;
	background-color: transparent !important;
	min-width: 1200px;
	color: $textColor;
}
* {
	font-family: $defaultFont;
}
.commonDescription:hover {
	cursor: default;
}
.commonDescription a:hover {
	cursor: pointer;
}
button:focus,
input:focus {
	outline: 0;
}
@media (max-width: 1200px) {
	#header {
		position: absolute !important;
		background: transparent !important;
		background-image: none !important;
	}
}
#header {
	border-bottom: 1px solid $transparentShadow;
	background-image: $backgroundImage;
	position: fixed;
	padding: 20px 25px 5px 25px;
	z-index: 1000;
	height: 60px;
	width: 100%;
	min-width: 1200px;
}
#header .headerButtons {
	margin-left: 20px;
}
#header .headerButtons button {
	background-color: transparent;
	color: $textColor;
	border: none;
	width: 120px;
	margin-right: 3px;
	left: 0;
	right: 0;
	height: 34px;
}
#header .headerButtons button:hover,
#header .headerButtons button:active,
#header .headerButtons button.active {
	border: 1px solid $textColor;
}
#header .headerIcon {
	float: left;
}
#header .headerInput {
	float: right;
}
#header .headerInput .summoner,
#header .headerInput .region {
	clear: all;
	vertical-align: top;
}
#header .headerIcon,
#header .headerButtons,
#header .headerInput {
	display: inline-block;
}

.regionDropdown button {
	background-color: transparent;
	color: $textColor;
	border: 1px solid $transparentShadow;
	width: 180px;
	height: 30px;
}
#header .regionDropdown .regionBtnIcon {
	position: absolute;
	left: 8px;
	top: 6px;
}
#header .regionDropdown .regionBtnText {
	position: absolute;
	left: 35px;
	top: 7px;
}
.regionDropdown.open button,
.regionDropdown.open ul {
	border: 1px solid $textColor;
}
.summonerInput {
	border: solid 1px $transparentShadow;
	color: $textColor;
	background: transparent;
}
#header .summonerInput {
	height: 30px;
	padding: 1px 8px;
}
.dropdown-menu {
	border: 1px solid $transparentShadow;
	background-color: $transparentLightBlack;
	right: 0;
	border-radius: 0;
}
.dropdown-menu a {
	color: white !important;
}
.dropdown-menu a:hover {
	color: $lightBlack !important;
	background-color: $textColor !important;
	font-weight: bold;
	cursor: pointer
}
#header .regionBtnIcon {
	width: 18px;
	height: 18px;
	position: absolute;
}

#content {
	box-sizing: border-box;
	width: 100%;
	min-width: 1200px;
	padding-top: 80px;
	margin-bottom: 80px;
	padding-left: 150px;
	padding-right: 150px;
	z-index: 5;
}
#content .sortPotential {
	position: relative;
	width: 140px;
	height: 30px;
	border: 1px solid $transparentShadow;
	background-color: transparent;
}
#content .sortChampions {
	width: 180px;
	height: 30px;
	border: 1px solid $transparentShadow;
	background-color: transparent;
}
#content .sortPotential.on,
#content .sortChampions.order.on {
	border: 1px solid $textColor;
}
#content .sortPotential img {
	position: absolute;
	left: 8px;
	top: 6px;
	width: 15px;
	height: 15px;
}
#content .sortPotential .sortBtnText {
	position: absolute;
	left: 41px;
	top: 4px;
}
#content  .championContainer {
	margin: 5px 10px 5px 0;
	display: inline-block;
	width: 150px;
	position: relative;
}
#gradient {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background: linear-gradient(to bottom, transparent 60%, black 90%);
	z-index: 100;
}
#championsWrapper {
	margin-left: auto;
	margin-right: auto;
}

#content .championContainer img {
	position: relative;
	max-width: 100% !important;
	max-height: 100% !important;
	z-index: 99;
}
#content .championContainer .championText {
	position: absolute;
	text-align: right;
	bottom: 10px;
	left: 10px;
	width: 130px;
	z-index: 101;
}
#content .commonDescription {
	width: 100%;
	min-height: 100px;
	margin-bottom: 10px;
}
.commonDescription .input,
.commonDescription .email {
	display: inline-block;
}
.commonDescription .email {
	float: right;
}
#content .commonDescription button {
	background-color: $transparentLightBlack;
	border: 1px solid $transparentShadow;
	height: 30px;
	width: 100px;
}
#content .compare .summoners {
	min-width: 1030px;
	width: 100%;
	text-align: center;
	margin-bottom: 20px;
}
#content .playerCompareCell {
	box-sizing: border-box;
	position: relative;
	padding: 10px;
	height: 830px;
	border: 1px solid $textColor;
	background-color: $transparentLightBlack;
	min-width: 510px;
	max-width: 650px;

	display: inline-block;
	vertical-align: top;
	text-align: left;
	margin-left: 0px;
	margin-right: 0px;
}
#content .playerHead {
	display: inline-block;
	position: relative;
	margin: 10px;
}
#content .strSummonerName{
	margin: 10px;
	font-weight: bold;
	font-size: 30px;
}
#content #PlayerHeadRight {
	position: relative;
	position: absolute;
	right: 10px;
}
#content .piechart {
	color: $lightBlack;
	text-align: center;
	width: 200px;
	height: 200px;
}
.piechart .donutLegend {
	color: $textColor;
}
#content .c3-legend-item text, 
.c3 .c3-axis-y text {
 	fill: white;
}
.c3 .c3-axis-x text {
	display: none;
}
#content #leftPieChart {
	position: absolute;
	left: 10px;
	top: 150px;
}
#content #rightPieChart {
	position: absolute;
	right: 10px;
	top: 150px;
}

.c3 .c3-axis-x path, .c3 .c3-axis-x line {
    stroke: $textColor;
}
.c3 .c3-axis-y path, .c3 .c3-axis-y line {
    stroke: $textColor;
}
#content .barChart{
	color: $textColor;
	text-align: center;
	width: 300px;
	height: 200px;
}
#content #barChart2, #barChart1, #lbarChart1, #lbarChart2, #rbarChart1, #rbarChart2 {
	color: black;
	display: inline-block;
}
#content #lbarChart1, #lbarChart2, #rbarChart1, #rbarChart2 {
	width: 120px;
	margin: 10px;
}
#content #rightBarChart {
	position: relative;
	position: absolute;
	left: 10px;
	top: 167px;
}
#content #leftBarChart {
	position: relative;
	position: absolute;
	right: 10px;
	top: 167px;
}
#content .topChampions {
	position: absolute;
	left: 10px;
	bottom: 5px;
}
#content .compareSeperator {
	width: 100%;
	height: 1px;
	background-color: $textColor;
	position: absolute;
	bottom: 320px;
	left: 0;
}
#content .summonerLevel {
	margin: 10px;
	font-size: 18px;
}
#content .playerInfoContainer > div {
	display: inline-block;
}
#playerCompareCell2 > div {
	text-align: right;
}
#content .playerHead > img {
	margin: 10px;
	height: 128px;
	width: 128px;
}
#content .inContentFooter {
	height: 100px;
	margin-left: 25%;
	width: 50%;
}
#content .progress {
	margin-bottom: 0;
	border-radius: 0;
	background-color: white;
	position: relative;
}
#content .progress-bar {
	border-radius: 0;
	background-color: rgb(44, 160, 44);
}
#content .progress-bar p {
	position: absolute;
	left: 5px;
	color: $lightBlack;
}

#swain, #xinzhao {
	position: absolute;
	bottom: 0;
	width: 900px;
}
#swain {
	right: 0;
}
#xinzhao {
	left: 0;
}
#splashScreen {
	text-align: center;
	font-size: 16px;
	margin-top: 50px;
}
#splashScreen .enterButton {
	width: 130px;
	border: 1px solid $transparentShadow;
	height: 40px;
	background: transparent;
}
#compareSummonerInput,
.commonDescription input {
	border: solid 1px $transparentShadow;
	color: $textColor;
	background: transparent;
	padding: 1px 8px;
	height: 30px;
	width: 150px;
}
.inputWrapper {
	width: 100%;
	height: 100%;
	margin-top: 80px;
	margin-bottom: 80px;
}
.regions, .summoner {
	display: inline-block;
}
#splashScreen .regions button {
	width: 200px;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	min-height: 50px;
}
#splashScreen .summonerInput {
	padding: 1px 8px;
	height: 50px;
	width: 200px;
}
#splashScreen .regionBtnIcon {
	width: 18px;
	height: 18px;
	position: absolute;
	left: 10px;
	top: 16px;
}

.smolText a {
	color: $textColor;
	font-size: 10px;
}
#splashScreen .enter a,
.commonDescription a {
	color: $textColor;
}
#splashScreen .enter a:hover {
	text-decoration: none;
}

#splashScreen .inputWrapper button:hover,
#splashScreen .inputWrapper button:active,
#splashScreen .inputWrapper input:hover,
#splashScreen .inputWrapper input:focus,
#slpashScreen .enter button:focus,
#splashScreen .enter button:hover,
#header .headerInput button:hover,
#header .headerInput button:active,
#header .headerInput input:hover,
#header .headerInput input:focus,
#content .commonDescription button:hover,
#content .commonDescription button:active,
#content .commonDescription input:hover,
#content .commonDescription input:focus,
#content .sortChampions.type:hover {
	border: 1px solid $textColor;
}
.compare .visible {
	position: static;
}
.compare .hidden {
	position: absolute;
	top: -9999px;
	left: -9999px;
}
.modal-content {
	position: relative;
	border: 1px solid $textColor;
	border-radius: 0;
	background: $lightBlack;
	padding: 10px;
}
.popup .message {
	position: absolute;
	left: 230px;
	font-size: 18px;
}
.popup .image img {
	width: 200px;
	height: 200px;
}

.inlineBlock {
	display: inline-block;
}