<div id="content">
	<div class="compare">
		<div class="commonDescription">
			<h1> Be proud of your skills! </h1>
			You're darn good with some champions and think other people should also know about it?
			Compare yourself to friends and send them Emails about your skills! Challenge
			them, because they have a higher mastery level or brag about your clear superiority. <br>
			To send them an E-Mail first compare yourself with someone else and then enter the valid e-mail adress of you friend.
			Then hit the "Send an Email!" button. (The button will only appear after you entered a valid e-mail adress)
		</div>
		<div class="input">
				<input type="text" class="inlineBlock" novalidate id="compareSummonerInput" placeholder="Compare with" ng-model="userData.compareSummoner">
				<div class="dropdown regionDropdown inlineBlock" uib-dropdown>
					<button type="button" class="dropdown-toggle" id="regionDropdown" uib-dropdown-toggle>
					<img class="regionBtnIcon" ng-src="./sources/icons/{{activeIcon.regionIconState}}.gif"/>
					<div class="regionBtnText">{{regions[userData.compareRegionId]}}</div>
					</button>
					<ul class="dropdown-menu" aria-labelledby="regionDropdown">
						<li ng-repeat="(id, region) in regions"><a ng-click="regionSelected(id)">{{region}}</a></li>
					</ul>
				</div>
				<button class="inlineBlock" ng-click="getBData()"> Compare! </button>
			</div>
			<div class="email">
				<form name="emailForm">
					<button ng-click="sendEmail(email)" ng-show="emailForm.input.$valid && !emailForm.input.$error.required"> Send an Email! </button>
					<input type="email" id="emailInput" name="input" ng-model="email" placeholder="Enter Email address" ng-pattern="/^[_a-z0-9]+(\.[_a-z0-9]+)*@[a-z0-9-]+(\.[a-z0-9-]+)*(\.[a-z]{2,4})$/" required>
				</form>
			</div>
		<div class="summoners">
			<div class="playerCompareCell">
				<div class="playerHead">
					<div class="playerInfoContainer">
						<img ng-src="{{playerAImage}}"></img>
						<div>
							<div class="strSummonerName">{{playerAName}}</div>
							<div class="summonerLevel">{{playerASummonerLevel}} </div>
						</div>
					</div>
				</div>
				<div class="charts">
					<div class="piechart" id="leftPieChart">
						<div id="pieChart1"></div>
						<div class="donutLegend"> {{donutALegend}} </div>
					</div>
					<div class="barChart" id="leftBarChart">
						<div id="lbarChart1"> </div>
						<div id="lbarChart2"> </div>
					</div>
				</div>
				<div class="compareSeperator"> </div>
				<div class="topChampions">
					<div class="topChampionsHeader"> Most played Champions </div>
					<div id="championsWrapper">
						<div class="championContainer" ng-repeat="champion in playerATopChamps">
							<div id="gradient"></div>
							<img ng-src ="./sources/image/champions/{{champion.nameId}}_0.jpg">
							<div class="championText">
								<div> {{champion.displayName}}</div>
								<div> {{champion.highestGrade}}</div>
								<div> {{champion.championPoints}}</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="playerCompareCell" id="playerCompareCell2">
				<div class="playerHead" id="PlayerHeadRight">
					<div class="playerInfoContainer">
						<div>
							<div class="strSummonerName">{{playerBName}}</div>
							<div class="summonerLevel">{{playerBSummonerLevel}} </div>
						</div>
						<img ng-src="{{playerBImage}}"></img>
					</div>
				</div>
				<div class="piechart" id="rightPieChart">
					<div id="pieChart2"></div>
					<div class="donutLegend"> {{donutBLegend}} </div>
				</div>
				<div class="barChart" id="rightBarChart">
					<div id="rbarChart2"> </div>
					<div id="rbarChart1"> </div>
				</div>
				<div class="compareSeperator"> </div>
				<div class="topChampions">
					<div class="topChampionsHeader"> Most played Champions </div>
					<div id="championsWrapper">
						<div class="championContainer" ng-repeat="champion in playerBTopChamps">
							<div id="gradient"></div>
							<img ng-src ="./sources/image/champions/{{champion.nameId}}_0.jpg">
							<div class="championText">
								<div> {{champion.displayName}}</div>
								<div> {{champion.highestGrade}}</div>
								<div> {{champion.championPoints}}</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
