<div id="content">
  <div class="commonDescription">
      <h1> Welcome to RiMaPi </h1>
      This website utilizes the Riot Mastery-API to show you information about your Champion Levels, your earned Mystery chests, your Mastery Score and offers you the opportunity
      to compare youself with others. If you are interested in the technical implementation of this website make shure to swing by in the Documentation section. It links to the public
      GitHub repository of this website which gives you the opportunity to browse through the source code. 
  </div>
</div>
