<div id="content">
    <div class="commonDescription">
        <h1> Find new Champions to train! </h1>
        Sometimes you're good with a champion and you don't even know it! We utilized the
        information about the average mastery-grade to show you with
        which champions you rock the house and with which you do not.
        Maybe it will give you an idea of what to play
        and maybe even who to choose as a new main.
    </div>
    <button type="button" class="sortChampions type" ng-show="championsShown" ng-click="sortChampions(false)">
		<div class="sortBtnText grade" ng-show="sorted">Sorted by Grade</div>
		<div class="sortBtnText point" ng-hide="sorted">Sorted by Champion Points </div>
	</button>
	<button type="button" class="sortChampions order" ng-show="championsShown && !sorted" ng-click="descChampions()" ng-class="desc ? 'on' : 'off'"> Descending </button>
	<div id="championsWrapper">
		<div class="championContainer" id="{{$index}}" ng-repeat="champion in champions">
			<div id="gradient"></div>
			<img ng-src ="{{champion.imageLink}}">
			<div class="championText">
				<div> {{champion.displayName}}</div>
				<div ng-hide="sorted"> Champion Points: {{champion.championPoints}} </div>
				<div ng-show="sorted"> Highest Grade: {{champion.highestGrade}} </div>
			</div>
		</div>
	</div>
</div>
