<div id="content">
	<div class="commonDescription">
		<h2> Earn levels! </h2>
		Does your friend have a higher Mastery Level than you? 
		Don't lose any time and play the champions that are close 
		to the next level to overtake your friend. Send him an Email 
		to brag about it!
	</div>

  	<div id="championsWrapper">
		<div class="championContainer" ng-repeat="champion in champions">
			<div id="gradient"></div>
			<img ng-src="./sources/image/champions/{{champion.nameId}}_0.jpg">
			<div class="championText">
				<div> {{champion.displayName}}</div>
				<div> Current level: {{champion.championLevel}} </div>
				<div> Until next level: {{champion.championPointsUntilNextLevel}} </div>
			</div>
			<!-- <uib-progressbar max="{{levelCap[champion.championLevel]}}" value="champion.championPoints"><span>{{champion.championPoints}} / {{levelCap[champion.championLevel]}}</span></uib-progressbar> -->
			{{champion.championPoints}} / {{levelCap[champion.championLevel].cap}}
		</div>


	</div>
</div>
