<div id="content">
	<div class="commonDescription">
		<h2> Earn levels! </h2>
		Does your friend have a higher Mastery Level than you? 
		Don't lose any time and play the champions that are close 
		to the next level to overtake your friend. <a ng-click="setActivePage(3)" ui-sref="page.compare">Send him an Email 
		to brag about it!</a>
	</div>

  	<div id="championsWrapper">
	  	<div ng-repeat="champion in champions" class="inlineBlock">
			<div class="championContainer">
				<div id="gradient"></div>
				<img ng-src="./sources/image/champions/{{champion.nameId}}_0.jpg">
				<div class="championText">
					<div> {{champion.displayName}}</div>
					<div> Currently on level {{champion.championLevel}} </div>
					<uib-progressbar animate="false" value="(champion.championPoints * 100)/levelCap[champion.championLevel].cap" type="success">
						<p> {{champion.championPoints}} / {{levelCap[champion.championLevel].cap}} </p>
					</uib-progressbar>
				</div>
			</div>
		</div>
	</div>
</div>

