<div id="content">
	<div>
		Chests granted: {{grantedChests}}
	</div>
	<div>
		Chests still waiting to be granted: {{notGranted}}
	</div>
	<button type="button" class="sortPotential" ng-show="championsShown" ng-click="sortChampions()" ng-class="sorted ? 'on' : 'off'"> sort </button>
	<div id="championsWrapper">
		<div class="championContainer" ng-repeat="champion in champions">
			<div id="gradient"></div>
			<img ng-src ="./sources/image/champions/{{champion.nameId}}_0.jpg">
			<div class="championText">
				<div> {{champion.displayName}}</div>
				<div> Highest Grade: {{champion.highestGrade}} </div>
			</div>
		</div>
	</div>
</div>
