<div id="content">
	<div>
		Chests granted: {{grantedChests}}
	</div>
	<div>
		Chests still waiting to be granted: {{notGranted}}
	</div>
	<button type="button" class="sortPotential" ng-show="championsShown" ng-click="sortChampions()" ng-class="sorted ? 'on' : 'off'"> sort </button>
	<div id="test">
		<div class="championContainer" ng-repeat="champion in champions">
			<img src = ./sources/image/champions/{{champion.championName}}_1.jpg>
				<h2>
					{{champion.championName}}, <br> HGtS: {{champion.highestGrade}}
				</h2>
		</div>
	</div>
</div>
