<div id="app"  ng-cloak>
	<div id="header">
		<div class="headerButtons" id="headerButtons">
			<a ng-repeat="button in headerButtonsArray" ng-click="setActivePage($index)" ui-sref=".{{button.name}}" ui-sref-opts="{reload: true}">
				<button ng-class="button.active ? 'active' : 'inactive'"  type="button">
					{{button.text}}
				</button>
			</a>
			<a href="https://github.com/ssschwifty/riotapi"><button type="button" class="docuBtn"> {{btnDocu}} </button></a>
		</div>
		<div class="headerInput">
			<div class="summoner">
				<summoner-directive/>
			</div>
			<div class="regions">
				<region-directive/>
			</div>
		</div>
	</div>
	<ui-view [onload=".home"] ng-cloak></ui-view>
</div>
