<div id="content" ng-cloak>
	<div id="splashScreen">
		<div class="welcomeText">
		{{welcomeText}}
		</div>
		<div class="inputWrapper">
			<div class="summoner">
				<summoner-directive/>
			</div>
			<div class="regions">
				<region-directive/>
			</div>
		</div>
		<div class="enter">
			<a ui-sref="page.home" id="enterButton" ng-click="setActivePage('home')"><button type="button" class="enterButton">{{btnEnter}}</button></a>
		</div>
		<div class="smolText">
			<a ui-sref="page.home">{{btnProceedAnyway}}</a>
		</div>
	</div>
</div>
<!--
<img id="swain" src="./sources/image/Swain_3.png"></img>
<img id="xinzhao" src="./sources/image/XinZhao_4.png"></img>
-->
